{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Rôles</th>
            <th>Date d'inscription</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y H:i') : '–' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun utilisateur trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
