{% extends 'base.html.twig' %}

{% block title %}À propos - Le Codex d’Uuki{% endblock %}

{% block body %}
    <h1>À propos</h1>
    <p>Uuki n’est ni un nom, ni un pseudonyme. C’est une voix qui murmure entre les lignes.</p>
    <p>Je suis l’artisan de ce Codex, entre code et calligraphie.</p>
    <p>Ici, les mots errent comme des ombres. Bienvenue dans mon cabinet d’écriture.</p>
{% endblock %}
