{% extends 'articles/base_articles.html.twig' %}

{% block title %}Modifier l'article{% endblock %}

{% block body %}
    <h1 class="text-5xl font-bold mb-8 text-center text-white">Modifier un article</h1>

    {{ include('articles/_form.html.twig', {'button_label': 'Mettre à Jour'}) }}

    <a href="{{ path('app_articles_index') }}">retour à la aliste.</a>

    {{ include('articles/_delete_form.html.twig') }}
{% endblock %}
