{% extends 'articles/base_articles.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="text-5xl font-bold mb-8 text-center text-white">Créer un nouvel article</h1>

    {% include 'articles/_form.html.twig' with {'form': form} %}

    <a href="{{ path('app_articles_index') }}"
       class="block text-center mt-8 text-sm text-blue-700 hover:underline">← Retour à la liste</a>

{% endblock %}
