<div class="card-parchment">
    {% block card_title %}{% endblock %}
    {% block card_author %}{% endblock %}
    {% block card_subtitle %}{% endblock %}
    {% block card_content %}{% endblock %}
    <div class="card-divider">❧</div>
    {% block card_footer %}{% endblock %}
</div>
