<footer class="text-center mt-12 py-4 border-t border-gray-300 text-gray-500 text-sm">
    <!--contenu du footer-->
    &copy; {{ "now"|date("Y") }} — Le Codex d'Uuki. Tous droits réservés.
    <br>
    <a href="{{ path('app_mentions_legales') }}" class="underline hover:text-accent">Mentions légales</a>
    <a href="{{ path('app_pacte') }}" class="underline hover:text-accent ml-4">Conditions Générales d'Utilisation</a>
</footer>