<a href="{{ path('app_homepage') }}" class="block">
    <img src="{{ asset('uploads/site_logo.webp') }}"
         alt="Le Codex d'Uuki"
         class="h-auto max-w-[60px] object-contain hover:opacity-80 transition duration-200" />
</a>