<div class="flex items-center space-x-8">
    {{ include('components/_logoHeader.html.twig') }}
    {{ include('components/_nav.html.twig', { 'mode': 'desktop' }) }}
</div>
<div class="mt-4 md:mt-0 text-sm text-gray-700 flex items-center space-x-4">
    {{ include('components/_authentication.html.twig') }}
</div>