<div class="flex items-center justify-center my-16">
    <div class="border-t-2 border-[#3d2c20] w-1/4"></div>
    <span class="mx-6 text-[#3d2c20] text-2xl"> ☙✦ ✧ ✦❧</span>
    <div class="border-t-2 border-[#3d2c20] w-1/4"></div>
</div>