{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1 class="text-4xl font-serif text-center mb-6 border-b pb-2">Créer un nouvel article</h1>

    {% include 'admin/article/_form.html.twig' with {'form': form} %}

    <a href="{{ path('app_admin_article_index') }}"
       class="block text-center mt-8 text-sm text-blue-700 hover:underline">← Retour à la liste</a>

{% endblock %}
